<form ng-submit='AutosApi(start_date, end_date, estado, autoCode)' novalidate>
	<md-content layout-padding>
		<alert type="danger" ng-show="alertAutos">Não foram encontrados registros</alert>
		<alert type="warning" ng-show="autosErrorNone">Não Foram adicionados parâmetros</alert>
		<alert type="info" ng-show="InfractionsList">
			<a href="" ng-click="showInfractionsDialog()">
				Visualizar tabela de dados
			</a>
		</alert>

		<md-progress-linear md-mode="indeterminate" ng-show="loadDialog"></md-progress-linear>

		<md-input-container layout="column" layout-sm="row">
			<label>Data Inicial</label>
			<input calendar
				ng-pattern="regExDate"
				type='text'
				ng-model="start_date"
        ng-change="changeStartDateHandler(start_date)"
				required />
		</md-input-container>

		<md-input-container layout="column" layout-sm="row">
			<label>Data Final</label>
			<input id="auto_end_date" calendar
				ng-pattern="regExDate"
				type='text'
        ng-disabled="!start_date"
				ng-model="end_date"
				required />
		</md-input-container>

		<md-input-container layout="column" layout-sm="row">
        	<label>Estado</label>
			<md-select ng-model="estado" aria-label="estados">
				<md-option ng-repeat="estado in estados" ng-value="estado">
					{{estado.nome}}
				</md-option>
	        </md-select>
	    </md-input-container>

		<md-input-container layout="column" layout-sm="row">
			<label>Código do Auto</label>
			<input
				type='text'
				ng-model="autoCode"/>
		</md-input-container>

		<md-progress-linear
			class="md-warn right"
			md-mode="indeterminate"
			ng-show="AutosLoad">
		</md-progress-linear>

	</md-content>

	<md-button
		class="md-raised md-warn right"
		type="submit">
			enviar
	</md-button>
</form>
