<md-dialog aria-label="Lista" ng-cloak>
    <md-toolbar class="md-inverse">
        <div class="md-toolbar-tools">
            <h2>Lista de Autos de Infração (Completo)</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="closeInfractionsDialog()">
                <md-icon md-svg-src="images/icons/close_md.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content >

        <table class="table table-hover table-bordered" id="dialogTable">
            <tr>
                <th ng-repeat="item in csvInfractions.titles">{{item}}</th>
            </tr>
            <tr ng-repeat="item in InfractionsLastData | orderBy: 'num_auto_infracao'" class="clickable-row" data-geom="{{item.latLng}}">
                <td><b>{{$index + 1}}</b></td>
                <td ng-repeat="subitem in csvInfractions.keys" ng-value="{{subitem}}">{{item[subitem]}}</td>
            </tr>
        </table>
    </md-dialog-content>

    
    <div class="md-actions" layout="row">
        <span flex></span>

        <md-button 
            class="md-raised md-primary"
            ng-csv="InfractionsLastData" 
            filename="autos_de_infracao.csv"
            csv-header="csvInfractions.keys">
                Exportar<md-icon md-svg-src="images/icons/get_md.svg" aria-label="get"></md-icon>
        </md-button>
    </div> 
   
</md-dialog>