<form ng-submit="OperationsApi(searchText, start_date, end_date)">
  <md-content layout-padding>
    <alert type="danger" ng-show="alertVehicles">Não foram encontrados registros</alert>
    <!-- <md-select
      ng-model="operationName"
      placeholder="Operações"
      required>
      <md-option ng-repeat="operation in operationsData | orderBy: 'name'" ng-value='operation'>{{operation.name}}</md-option>
    </md-select> -->

        <!-- md-selected-item="ctrl.selectedItem" -->
        <!-- md-no-cache="ctrl.noCache" -->
        <!-- <md-autocomplete
    			flex
    			md-input-name="autocomplete"
    			md-search-text="textoBusca"
    			md-selected-item="itemSelecionado"
    			md-selected-item-change="itemSelecionadoChange(campo)"
    			md-items="campo in buscaCampo(textoBusca)"
    			md-item-text="campo.name"
    			md-floating-label="Helicóptero por nome">

    		    <md-item-template>
    				<span md-highlight-text="searchText">{{campo.value}}</span>
    		    </md-item-template>

    		    <md-not-found>
    		    	Registro não encontrado
    		    </md-not-found>
    		</md-autocomplete> -->


    <md-autocomplete
      md-input-name="autocomplete"
      md-selected-item="selectedItem"
      md-search-text="searchText"
      md-items="item in querySearch(searchText)"
      md-item-text="item.nom_operacao"
      md-floating-label="Nome da Operação"
      md-select-on-match="true"
      ng-model="searchText">
      <span md-highlight-text="searchText">{{item.nom_operacao}}</span>
    </md-autocomplete>

    <md-input-container layout="column" layout-sm="row">
      <label>Data Inicial</label>
      <input calendar
         ng-pattern="regExDate"
         type='text'
         ng-model="start_date"
         initial-date="initialDate"
         ng-change="changeStartDateHandler(start_date)"
          />
      </md-input-container>

    <md-input-container layout="column" layout-sm="row">
      <label>Data Final</label>
      <input id="op_end_date" calendar
        ng-pattern="regExDate"
        ng-disabled="!start_date"
        type='text'
        ng-model="end_date"
         />
    </md-input-container>

    <md-progress-linear
      class="md-warn"
      md-mode="indeterminate"
      ng-show="VehicleLoad">
    </md-progress-linear>

  </md-content>

  <md-button
    class="md-raised md-warn right"
    ng-disabled="!operationNameExists(searchText) && !(start_date && end_date) || operationsLoad"
    type="submit">
      enviar
  </md-button>
</form>
