<form ng-submit="ProjetosSearch(filterMap)">
  <md-content layout-padding>
    <alert type="danger" ng-show="alertVehicles">Não foram encontrados registros</alert>

  <md-select ng-model="filterMap.uf" placeholder="UF" ng-change='getBR(filterMap.uf)' required>
    <md-option ng-repeat="estado in estados | orderBy: 'nome'" ng-value='estado'>{{estado.nome}}</md-option>
  </md-select>

  <md-select  ng-show="filterMap.uf.sigla" ng-model="filterMap.br" ng-change='getEmpreendimento(filterMap)' placeholder="Rodovia">
    <md-option ng-repeat="br in brs | orderBy: 'br'" ng-value='br'>{{br.br}}</md-option>
  </md-select>

   <md-select  ng-show="filterMap.br" ng-model="filterMap.empreendimento" placeholder="Empreendimento">
    <md-option ng-repeat="empreend in empreendimentos | orderBy: 'empreend'" ng-value='empreend'>{{empreend.vl_codigo_projeto}}</md-option>
  </md-select>

    <md-progress-linear
      class="md-warn"
      md-mode="indeterminate"
      ng-show="projetosLoad">
    </md-progress-linear>

  </md-content>

  <md-button
    class="md-raised md-warn right"
    ng-disabled="!filterMap.uf"
    type="submit">
      enviar
  </md-button>
</form>
