
<form ng-submit='VehicleApi(VehicleName, start_date, end_date, geometryType)'
	ng-if='viaturas'
	novalidate flex>
	<md-content layout-padding>

		<alert type="danger" ng-show="alertVehicles">Não foram encontrados registros</alert>

		<md-select
			ng-model="VehicleName"
			placeholder="Viatura"
			required>
			<md-option ng-repeat="viatura in viaturasData | orderBy: 'name'" ng-value='viatura'>{{viatura.name}}</md-option>
		</md-select>

		<md-input-container layout="column" layout-sm="row">
			<label>Data Inicial</label>
			<input calendar
				   ng-pattern="regExDate"
				   type='text'
				   ng-model="start_date"
                   ng-change="changeStartDateHandler(start_date)"
				   required />
		</md-input-container>

		<md-input-container layout="column" layout-sm="row">
			<label>Data Final</label>
			<input id="vehi_end_date" calendar
				   ng-pattern="regExDate"
                   ng-disabled="!start_date"
                   type='text'
				   ng-model="end_date"
				   required />
		</md-input-container>

        <div class="btn-group right" style="margin-top:20px" >
            <label class="btn btn-primary"
                   ng-model="geometryType"
                   btn-radio="'Pontos'">Pontos</label>

            <Label class="btn btn-success"
                   ng-model="geometryType"
                   btn-radio="'Trajeto'">Trajeto</Label>
        </div>

			<md-progress-linear
				class="md-warn"
				md-mode="indeterminate"
				ng-show="VehicleLoad">
			</md-progress-linear>

	</md-content>

	<md-button
		class="md-raised md-warn right"
		ng-disabled="!VehicleName || !start_date || !end_date || VehicleLoad"
		type="submit">enviar</md-button>

</form>
