<div class="container">
    <side-nav></side-nav>
    <center>
        <h3 class="page-header">DUP - Declaração de Utilidade Pública</h3>
    </center>
    <br />
    <div ng-show="msg">
        <div class="alert alert-danger">
            <span ng-bind="msg"></span>
        </div>
    </div>
    <div ng-show="!msg" class="row">
        <div>
            <div id="detalhes-box">
                <div class="box">
                    <div class="nome"><strong>Número da Portaria:</strong></div>
                    <div class="detalhe">{{dup.portaria}}</div>
                </div>
                <hr>
                <div class="box">
                    <div class="nome"><strong>Código SNV:</strong></div>
                    <div class="detalhe">{{dup.cod_snv}}</div>
                </div>
                <hr>
                <div class="box">
                    <div class="nome"><strong>Código do Projeto:</strong></div>
                    <div class="detalhe">{{ dup.projeto.cod_projeto }}</div>
                </div>
                <hr>
                <div class="box">
                    <div class="nome"><strong>Data de Publicação:</strong></div>
                    <div class="detalhe">
                        <span ng-bind="dup.dt_publicacao | date:'dd/MM/yyyy'"></span>
                    </div>
                </div>
                <hr>
                <div class="box">
                    <div class="nome"><strong>Data de Vencimento:</strong></div>
                    <div class="detalhe">
                        <span ng-bind="dup.dt_vencimento | date:'dd/MM/yyyy'"></span>
                    </div>
                </div>
                <hr>
                <div class="box">
                    <div class="nome"><strong>Possui geometria ?</strong></div>
                    <div class="detalhe">
                        <span ng-show="dup.has_geometry">
                  Sim
              </span>
                        <span ng-show="!dup.has_geometry">
                  Não
              </span>
                    </div>
                </div>
            </div>
            <br />
            <br />
            <div class="col-sm-4" id="map-box" ng-show="dup.has_geometry" layout-align="space-around">
                <mapdetail></mapdetail>
            </div>
        </div>
    </div>
    <div class="row" ng-show="!msg">
        <h4>Arquivos</h4>
    </div>
    <br />
    <div class="row">
        <div class="col-sm-3" ng-show="dup.lk_doc_publicacao">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <img src="../images/doc-logo.svg" width="25" height="25" /> Word
                    <div class="icon-download-file">
                        <a href="" ng-click="donwload(dup.arquivos.doc_caminho)">
                            <img src="../images/download-to-inbox.png" width="25" height="25" />
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <strong>Nome do arquivo:</strong> <span ng-bind="dup.arquivos.doc_nome"></span>
                    <strong>Tamanho do arquivo:</strong> <span ng-bind="dup.arquivos.doc_tamanho"></span>
                </div>
            </div>
        </div>
        <div class="col-sm-3" ng-show="dup.lk_pdf_publicacao">
            <div class="panel panel-red-border">
                <div class="panel-heading panel-red">
                    <img src="../images/pdf-logo.svg" width="25" height="25" /> PDF
                    <div class="icon-download-file">
                        <a href="" ng-click="donwload(dup.arquivos.pdf_caminho)">
                            <img src="../images/download-to-inbox.png" width="25" height="25" />
                        </a>
                    </div>
                </div>
                <div class="panel-body">
                    <strong>Nome do arquivo:</strong> <span ng-bind="dup.arquivos.pdf_nome"></span>
                    <strong>Tamanho do arquivo:</strong> <span ng-bind="dup.arquivos.pdf_tamanho"></span>
                </div>
            </div>
        </div>
    </div>
</div>