<div class="container">
    <side-nav></side-nav>
  <!--   <div style="float:rigth">
    	<a href="">Manual de Utilização</a>
    </div> -->
    <center>
        <h3 class="page-header">Sobre o SISDR</h3>
    </center>
    <div class="row">
    <p>O SISDR (Sistema de Desapropriação e Reassentamento) foi desenvolvido para realizar o gerenciamento de Faixas de Domínio, DUPs(Declaração de Utilidade Pública) e Propriedades Lindeiras da CGDR - Coordenação Geral de Desapropriação e Reassentamento do DNIT.</p>
    </div>
     <div class="row">
            <div class="box">
            	<hr />
                <div class="nome"><strong>Versão do sistema:</strong></div>
                <div class="detalhe">0.0.1</div>
                <hr />
            </div>
    </div>
</div>